<app-header></app-header>
<div class="outer">
    <div class="hurray">
        <div class="images-order">
            <img src="../../../assets/placeOrder.png" alt="">
        </div>
        <div class="test">
            <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1; ">
                hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
                communication..
            </p>
        </div>
        <div class="tlb">
            <div class="table">

                <table>
                    <tr>
                        <th>Email</th>
                        <th>Contact us</th>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td>Aadmin@bookstore.com</td>
                        <td>8163475881</td>
                        <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="Continue">
            <button mat-flat-button class="continuebutton" color="primary" routerLink="/dashboard/display">
                Continue shopping</button>
        </div>
    </div>
</div>