<div>
    <div class="bookHead">
        <div class="booktitle" >
            <span style="font-size: 22px; font-weight: 500;">Books</span>
            <span class="countbook">({{noOfBooks}} Items)</span>
        </div>
        <!-- <mat-form-field  appearance="outline">
            <mat-label>Sort by relevence</mat-label>
            <mat-select>
                <mat-option>Price:Low to High</mat-option>
                <mat-option>Price:High to Low</mat-option>
            </mat-select>
        </mat-form-field> -->
        <select class="dropdown-select">
            <option value="">Sort by relevence</option>
            <option value="location-1">Price:Low to High</option>
            <option value="location-2">Price:High to Low</option>
         </select>
    </div>

    <div class="display-books">
        <mat-card class="book" *ngFor="let book of bookList | searchFilter:search">
            <div class="book-image">
                <img src="../../assets/bookImage2.png" (click)="openBookDetails(book._id)" >
            </div>
            <div class="book-details">
                <span class="bookName">{{book.bookName}}</span>
                <span class="authorName"> by {{book.author}}</span>
                <div class="rating">
                    <div class="rating-num">
                        <span>4.1</span>
                    </div>
                    <span class="bookQuantity">({{book.quantity}})</span>
                </div>
                <div>
                    <span class="discountPrice">Rs. {{book.discountPrice}}</span>
                    <span class="originalPrice">Rs. {{book.price}}</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>