<!-- <app-header [cartSize]="cartSize"></app-header> -->
<app-header></app-header>
<div>
    <div class="bookHead">
        <div class="booktitle" >
            <span style="font-size: 22px; font-weight: 500;">Books</span>
            <span class="countbook">({{noOfBooks}} Items)</span>
        </div>
        <!-- <button (click)="PriceHighToLow()">click</button> -->
        <mat-select class="dropdown-select">
            <mat-option value="" disabled selected>Sort by relevence</mat-option>
            <mat-option value=""  (click)="PriceLowToHigh()">Price:Low to High</mat-option>
            <mat-option value="" (click)="PriceHighToLow()">Price:High to Low</mat-option>
        </mat-select>
    </div>

    <div class="display-books">
        <mat-card class="book" *ngFor="let book of bookList | searchFilter:search | paginate: {itemsPerPage:8, currentPage:page,totalItems:totalLength}">
            <div class="book-image">
                <img src="../../assets/bookImage2.png" (click)="openBookDetails(book._id)" >
            </div>
            <div class="book-details">
                <span class="bookName">{{book.bookName}}</span>
                <span class="authorName"> by {{book.author}}</span>
                <div class="rating">
                    <div class="rating-num">
                        <span>4.1</span>
                    </div>
                    <span class="bookQuantity">({{book.quantity}})</span>
                </div>
                <div>
                    <span class="discountPrice">Rs. {{book.discountPrice}}</span>
                    <span class="originalPrice">Rs. {{book.price}}</span>
                </div>
                <div class="icons">
                    <img (click)="addBookToWishlist(book._id)" class="iconImage" src="../../../assets/wishlist.svg">
                    <img (click)="addBookToCart(book._id)" class="cartIcon" src="../../../assets/shopping-cart.png">
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="pages">
    <pagination-controls (pageChange)="page=$event" class="page"></pagination-controls>
</div>