.main-div{
  padding-bottom: 80px;
  padding-left: 17%;
  margin-top: 5px;
  height: fit-content;
}

.bookHead{
    display: flex;
    width: 30vw;
    margin-top: 30px;
  }
  .home {
    color: #9D9D9D;
  }

  .booksOuterDiv{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    //height: 30vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid lightgray;
    border-radius: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  
  .cart-detail {
    width: 44vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 40px;
  }
  .dropdown-select{
    width: 180px;
    border-radius: 4px;
    border:1px solid #E2E2E2 ;
    margin-right: -25px;
    //outline: none;
    //border: none;
  }
  .bookDetail{
    display: flex;
    flex-direction: column;
    width: 48vw;
    //border: 4px solid red;
   }
  .bookInfo{
      display: flex;
      flex-direction: row;
      margin-left: 40px;
      margin-top: 20px;
      // height: 10vh;
      // width: 10vw;
  }
   
  .image{
    padding-top: 10px;
    //height: 200px;
    width: 80px;
  }
  .bookData{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    //border: 4px solid blue;
  }
  .bookName{
    color: #0A0102;
    font:normal normal normal 14px/17px Lato;
  }
  .authorName{
    font: normal normal normal 10px/12px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
  }
.discountPrice{
  font: normal normal bold 15px/18px Lato;
  letter-spacing: 0px;
  color: #0A0102;
  margin-right: 10px;
}
.originalPrice{
    font: normal normal normal 9px/11px Lato;
    text-decoration: line-through;
    color: #878787;
}


.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.plus-minus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //border: 2px solid red;
}

.plus-minus button {
  border: 1px solid #DBDBDB;
  padding: -10px -10px 0px 0px;
  border-radius: 20px;
  width: 22px;
  height: 22px;
  font-size: 20px;
}

.cartQty {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid;
  border-radius: 3px;
  align-items: center;
  border-color: rgba(0, 0, 0, .12);
  font-size: 15px;
  font-weight: 500;
  height: 19px;
}

.remove {
  margin-left: 25px;
  border: none;
  background-color: transparent;
}

.blueButton{
  text-align: end;
  width: 46vw;
  }
  #btn{
  //font-size: 2px;
  width: 151px;
  height: 35px;
  background-color: #3371B5;
  border: none;
  color: white;
  }

.address{
  padding: 15px;
  width: 47.2vw;
  margin-top: -15px;
  padding-left: 25px;
  border: 1px solid lightgray;
}

.userDetails{
 // border: 1px solid black;
  width: 44vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
}
.textFieldsDiv{
  display: flex;
  flex-direction: row;
}
.textField {
  width: 17vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0px solid saddlebrown;
}

.addressInput{
  display: flex;
  flex-direction: column;
  width: 34vw;
  //margin-left: -15px;
}
.radioButton{
  display: flex;
  flex-direction: column;
}

.editAddress {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 40px;
  //border: 1px solid blue;
}
.addressButton{
  width: 145px;
  height: 35px;
  background-color: transparent;
  border-color: #A03037;
  color: #A03037;
  border-radius: 3px;
  margin-right: -40px;
}
.order-summary{
  padding: 15px;
  width: 47.2vw;
  //height: 6vh;
  margin-top: 15px;
  padding-left: 25px;
  border: 1px solid lightgray;
}
