<app-header></app-header>
<div class="main-div">
    <div class="bookHead">
        <p class="home" routerLink="/dashboard/display">Home / </p>
        <p style="color: black; font-weight: 500;">My cart</p>
    </div>
    <!-- empty  Cart -->
    <div *ngIf="bookDetail.length === 0">
        <div class="emptyCart">
            <h2 >cart is empty</h2> 
            <button id ="btn" routerLink="/dashboard/display"> View Books </button>  
        </div> 
    </div>
        <!-- book in Cart -->
    <div class="booksOuterDiv" *ngIf="bookDetail.length > 0 && step >= 1">
        <div class="cart-detail">
            <span style="color: black; font-weight: 500;">My Cart({{bookDetail.length}})</span>
            <select class="dropdown-select">
                <option value="">Use current location</option>
                <option value="location-1">Location</option>
            </select>
        </div>
        <div class="bookDetail">
            <div class="bookInfo" *ngFor="let book of bookDetail">
                <div class="image">
                    <img style="width: 44px;  height: 54px;" src="../../assets/bookImage2.png">
                </div>
                <div class="bookData">
                    <span class="bookName">{{book.bookName}}</span>
                    <span class="authorName"> {{book.author}}</span>
                    <div>
                        <span class="discountPrice">Rs.{{book.discountPrice}}</span>
                        <span class="originalPrice">Rs.{{book.price}}</span>
                    </div>
                    <div class="buttons">
                        <div class="plus-minus">
                            <button (click)="addBook(book._id)">+</button>
                            <span class="cartQty">{{book.quantity}}</span>
                            <button (click)="removeBook(book._id)">-</button>
                        </div>
                        <button mat-stroked-button class="remove"> Remove</button>
                    </div>
                </div>
            </div>
            <div class="blueButton">
                  <button id ="btn" mat-flat-button (click)="secondStep()">Place Order</button>
            </div>
        </div>
    </div>


    <!-- Address details -->
    <div class="address" *ngIf="bookDetail.length > 0">
        <div class="editAddress" *ngIf="step >= 1">
            <span>Address Details</span>
        </div>
        <div *ngIf=" step >= 2">
            <div class="editAddress">
                <span>Customer Details</span>
                <button mat-flat-button class="addressButton">Add New Address</button>
            </div>
            <form [formGroup]="userDetailForm" (ngSubmit)="addCustomerDetails()">
                <div class="userDetails">
                    <div class="textFieldsDiv">
                        <div class="textField">
                            <span>Full name</span>
                            <mat-form-field appearance="outline" class="">
                                <input matInput formControlName="fullname" >
                                <mat-error>Full name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="textField">
                            <span style="margin-left: 15px;">Mobile number</span>
                            <mat-form-field appearance="outline" style="margin-left: 10px;">
                                <input matInput formControlName="mobileNumber">
                                <mat-error>Mobile number is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="addressInput">
                        <span>Address</span>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="address">
                            <mat-error>Address is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="textFieldsDiv">
                        <div class="textField">
                            <span>city/town</span>
                            <mat-form-field appearance="outline" class="">
                                <input matInput formControlName="city">
                                <mat-error>city/town is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="textField">
                            <span style="margin-left: 15px;">State</span>
                            <mat-form-field appearance="outline" style="margin-left: 10px;">
                                <input matInput formControlName="state">
                                <mat-error>State is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="radioButton">
                        <span>Type</span>
                        <mat-radio-group formControlName="addressType" aria-label="Select an option" style="margin-left: -10px;">
                            <mat-radio-button value="1">Home</mat-radio-button>
                            <mat-radio-button value="2">Work</mat-radio-button>
                            <mat-radio-button value="2">Other</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="blueButton">
                <button id ="btn" mat-flat-button>Continue</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Order summary -->
    <div class="order-summary" *ngIf="bookDetail.length > 0">
        <div>
            <span class="order">OrderSummary</span>
                <div class="bookDetail" *ngIf="step >=3">
                    <div class="bookInfo" *ngFor="let book of bookDetail">
                        <div class="image">
                            <img style="width: 44px;  height: 54px;" src="../../assets/bookImage2.png">
                        </div>
                        <div class="bookData">
                            <span class="bookName">{{book.bookName}}</span>
                            <span class="authorName"> {{book.author}}</span>
                            <div>
                                <span class="discountPrice">Rs.{{book.discountPrice}}</span>
                                <span class="originalPrice">Rs.{{book.price}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="blueButton" >
                          <button style="margin-right: 30px;" id ="btn" mat-flat-button (click)="purchesBook()" routerLink="/dashboard/placeOrder">Place Order</button>
                     </div>
                </div>
           
        </div>
    </div>

</div>