    .footer {
    position: fixed;
    bottom: 0;
    width: 87%;
    height: 5%;
    background-color: #2E1D1E;
    color: white;
    text-align: left;
    padding-left: 13%;
    padding-top: 15px;
    padding-bottom: 5px;
   
  }