<div class="main-div">
    <div class="bookHead">
        <p class="home" routerLink="/dashboard/display">Home / </p>
        <p style="color: black; font-weight: 500;">Book()</p>
    </div>
    <div class="booksOuterDiv">
        <div>
            <div class="imgDiv">
                <div class="small-images">
                    <img class="small-img" src="../../assets/bookImage2.png" >
                    <img class="small-img" src="../../assets/book_image.png" >
                </div>
                <div class="big-image">
                    <img src="../../assets/bookImage2.png">
                </div>
            </div>
            <div class="buttonsDiv">
                <button class="bag" mat-flat-button (click)="addInCart()" (click)="openSnackbar('Book added into cart successfully','Dismiss')">ADD TO BAG</button>
                <button class="wishlist" mat-flat-button (click)="addInWishlist()" (click)="openSnackbar('Book added into wishlist successfully','Dismiss')">
                    <mat-icon class="wishimg1">favorite</mat-icon>
                    <p class="text">WISHLIST</p></button>
            </div>
        </div>  
        <div class="book-details">
            <div class="book-info">
                <p class="bookName">{{bookDetails.bookName}}</p>
                <p class="authorName"> by {{bookDetails.author}}</p>
                <div class="rating">
                    <div class="rating-num">
                        <span>4.1</span>
                    </div>
                    <p class="bookQuantity">({{bookDetails.quantity}})</p>
                </div>
                <div>
                    <span class="discountPrice">Rs. {{bookDetails.discountPrice}}</span>
                    <span class="originalPrice">Rs. {{bookDetails.price}}</span>
                </div>
            </div>
            <hr class="line"/>
            <div class="book-info">
                <p class="detail">Book Detail</p>
                <p class="description">{{bookDetails.description}}</p>
            </div> 
            <hr class="line"/>
            <div class="book-info">
                <p class="feedback">Customer Feedback</p>
                <div class="feedbackDiv">
                    <p class="overall">Overall rating</p>

                    <div class="starContainer">
                        <input type="radio" name="rate" id="rate-1" value="1">
                        <label for="rate-1"><img src="../../../assets/star.svg" width="22px"></label>
    
                        <input type="radio" name="rate" id="rate-2" value="2">
                        <label for="rate-2"><img src="../../../assets/star.svg" width="22px"></label>
    
                        <input type="radio" name="rate" id="rate-3" value="3">
                        <label for="rate-3"><img src="../../../assets/star.svg" width="22px"></label>
    
                        <input type="radio" name="rate" id="rate-4" value="4">
                        <label for="rate-4"><img src="../../../assets/star.svg" width="22px"></label>
    
                        <input type="radio" name="rate" id="rate-5" value="5">
                        <label for="rate-5"><img src="../../../assets/star.svg" width="22px"></label>
    
                    </div>

                    <textarea matInput class="feedbackInput" type="text" placeholder="write a review"
                    name="comment"></textarea>
                    <button class="submitBtn">Submit</button>
                </div>
            </div>   
        </div> 
    </div>
</div>
    