.header {
    //height: 60px;
    width: 100vw;
    //border: 4px solid green;
  }
.header-inner {
    background-color: #A03037;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //border: 4px solid red;
  }
  .header-firstInner {
    display: flex;
    flex-direction: row;
   // border: 4px solid red;
  } 
  .logo {
    margin-left: 180px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .text {
    color: #FFFFFF;
    padding-left: 5px;
  }
  
  .search {
    font-size: 16px;
    width: 40vw;
    //border: 0px solid black;
    height: 25px;
    background-color: white;
    margin-left: 25px;
    border-radius: 3px;
    display: flex;
    align-content: center;
    padding: 2px 5px;
  }

  .search-input {
     outline: none;
     border: 4px;
     width: 100%;
  }
  
    
  .profile-cart {
    //border: 2px solid blue;
    width: 15vw;
    height: 99%;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
  }
  
  .icons {
    //border: 0px solid blue;
    width: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #A03037;
    border-left: 0.5px solid black;
    border-right:0.5px solid black ;
  }
  .iconImage{
    margin-left:25px;
    width:24px;
    height:24px;
  }

  @media only screen and (max-width:1025px) {
    .profile-cart {
      margin-right: 40px;
    }
  }
  @media only screen and (max-width:912px) {
    .profile-cart {
      margin-right: 30px;
    }
    .logo {
      margin-left: 100px;
    }
  }
  @media only screen and (max-width:912px) {
    .profile-cart {
      margin-right: 10px;
    }
    .logo {
      margin-left: 80px;
    }
  }
  @media only screen and (max-width:540px) {
    .profile-cart {
      margin-right: 30px;
    }
    .logo {
      margin-left: 10px;
    }
  }
  @media only screen and (max-width:280px) {
    .header {
      width: 120vw;
    }
  }