<div class="OuterDiv">
    <div class="outer-main">
        <div class="divbar">
            <div class="image">
                <img class="shopimage" src="../../assets/bookStore.png" />
                <h3>ONLINE BOOK SHOPPING</h3>
            </div>
            <div class="inner-Form">
                <div class="top">
                    <button class="login">LOGIN</button>
                    <button class="signup" routerLink="/signup">SIGNUP</button>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="text-fileds">   
                        <label class="font-label">Email id</label>
                        <input class="textBox" type="email" formControlName="email"/>
                        <label class="font-label">Password</label>
                        <input class="textBox" type="password" id="pwd" name="pwd" formControlName="password"/>
                        <button class="Forgot"><b>Forgot Password?</b></button>
                        <button class="btnlogin">Login</button>
                    </div>
                </form>
                <div class="separator"><b>OR</b></div>
                <div class="buttonStyle">
                    <button class="facebook">Facebook</button>
                    <button class="google">Google</button>
                </div>
                
            </div>
        </div>
    </div>
</div>