<div class="main-div">
    <div class="bookHead">
        <p class="home" routerLink="/dashboard/display">Home / </p>
        <p style="color: black; font-weight: 500;">My Wishlist</p>
    </div>
    <div class="booksOuterDiv">
        <div class="wishlistcount">
            <span class="wishlistfont" >My Wishlist ()</span>
        </div>
        <div class="booksInfo" *ngFor="let book of bookArray">
            <div class="book" >
                <div class="image">
                    <img style="width: 70px;  height: 90px;" src="../../assets/bookImage2.png">
                </div>
                <div class="bookData">
                    <span class="bookName">{{book.bookName}}</span>
                    <span class="authorName"> by {{book.author}}</span>
                    <div>
                        <span class="discountPrice">Rs.{{book.price}}</span>
                        <span class="originalPrice">Rs. oPrice</span>
                    </div>
                </div>
            </div>   
            <div class="delete">
                <img class="deletebutton" src="../../../assets/delete.svg" (click)="removeBook()">  
            </div>
        </div>
    </div>
</div>