<app-header></app-header>
<div class="main-div">
    <div class="bookHead">
        <p class="home" routerLink="/dashboard/display">Home / </p>
        <p style="color: black; font-weight: 500;">My Wishlist</p>
    </div>
    <div *ngIf="bookArray.length === 0">
        <div class="emptyWishlist">
            <h2>Wishlist is empty</h2>
            <button id ="btn" routerLink="/dashboard/display"> View Books </button>  
        </div> 
    </div>
    <div class="booksOuterDiv" *ngIf="bookArray.length > 0">
        <div class="wishlistcount">
            <span class="wishlistfont" >My Wishlist ({{bookArray.length}})</span>
        </div>
        <div class="booksInfo" *ngFor="let book of bookArray">
            <div class="book" >
                <div class="image">
                    <img style="width: 70px;  height: 90px;" src="../../assets/bookImage2.png">
                </div>
                <div class="bookData">
                    <span class="bookName">{{book.bookName}}</span>
                    <span class="authorName"> by {{book.author}}</span>
                    <div>
                        <span class="discountPrice">Rs.{{book.price}}</span>
                        <span class="originalPrice">Rs. oPrice</span>
                    </div>
                </div>
            </div>   
            <div class="delete">
                <img class="deletebutton" src="../../../assets/delete.svg" (click)="removeBook(book._id)">  
            </div>
        </div>
    </div>
</div>