
<div class="mainDiv">
    <div class="form-content">
        <div class="image">
            <img class="shopimage" src="../../assets/bookStore.png" />
            <h3>ONLINE BOOK SHOPPING</h3>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
            <div class="top">
                <button class="login" routerLink="/login">LOGIN</button>
                <button class="signup">SIGNUP</button>
            </div>   
            <div class="rowDiv">
                <label class="txtboxlbl">Full Name</label>
                <mat-form-field appearance="outline"  >
                    <input matInput placeholder="" formControlName="fullname" />
                    <mat-error>Enter Full Name</mat-error>
                </mat-form-field>
            </div> 
            <div class="rowDiv">
                <label class="txtboxlbl">Email id</label>
                <mat-form-field appearance="outline" >
                    <input matInput placeholder="" formControlName="email"/>
                    <mat-error>Enter Full Name</mat-error>
                </mat-form-field>
            </div> 
            <div class="rowDiv">
                <label class="txtboxlbl">Password</label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="" formControlName="password"/>
                    <mat-error>Enter Full Name</mat-error>
                </mat-form-field>
            </div> 
            <div class="rowDiv">
                <label class="txtboxlbl">Mobile Number</label>
                <mat-form-field appearance="outline" class="txtfield" >
                    <input matInput placeholder="" formControlName="phone"/>
                    <mat-error>Enter Full Name</mat-error>
                </mat-form-field>
            </div>
            <button class="btnlogin" >Signup</button> 
        </form>
    </div>
</div>
